.parent {
	padding-top: 75px;
	scroll-snap-align: start;
	scroll-padding-top: 75px;
	margin: auto 5% 15px 5%;
}
a > span{
	text-decoration: underline !important;
}

h1 {
	text-align: center;
	letter-spacing: 2px;

	font-weight: normal;
	font-family: 'Metal Mania', cursive;
	color:transparent;
	background: -webkit-linear-gradient(gold, gold, red);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

img {
	max-width: 90vw;
	width: 100%;
	height: auto;
	scroll-snap-align: start;
	scroll-margin-top: 75px;
	border-radius: 30px;
}
@media(min-width: 426px){
	img{
	position: sticky;
	top: 20%;
	}

}
.description {
	padding-left: 15px;
}

@media screen and (max-width: 425px) {
	.description {
		padding-left: 0px;
		padding-top: 10px;
	}
	img {
		width: 90vw;
	}
}
