<div *ngIf="eventObservable | async as event; else loading" class="parent">
	<h1>{{ event.name }}</h1>
	<div style="display: flex; flex-wrap: wrap;">
		<div style="flex:0.8;">
			<img [src]="'assets/event-images/' + event.image" />
		</div>
		<div *ngIf="descriptionObservable | async ; else loadingtext"
			class="description"
			style="flex:1"

		>
		<div [innerHTML]="descriptionObservable | async"></div>
		<div style='text-align:center;text-justify: auto;' *ngIf="event.registerUrl">
			<a
			href='{{ event.registerUrl }}'
			mat-raised-button
			color="primary"
			class="register-button"
		>
		Register
		</a>
		</div>
	</div>

	</div>

</div>

<ng-template #loading>
	<div class='parent'><h1>Loading...</h1></div>
</ng-template>

<ng-template #loadingtext>
	<!-- <div class='parent'><h1>Loading...</h1></div> -->
</ng-template>

