.parent {
	padding-top: 75px;
	scroll-snap-align: start;
	scroll-padding-top: 75px;
	margin: auto 5% 15px 5%;
}
h1 {
	text-align: center;
	letter-spacing: 2px;
}
img {
	max-width: 90vw;
	width: 100%;
	height: auto;
	scroll-snap-align: start;
	scroll-margin-top: 75px;
	border-radius: 30px;
}
.description {
	padding-left: 15px;
}

@media screen and (max-width: 425px) {
	.description {
		padding-left: 0px;
		padding-top: 10px;
	}
	img {
		width: 90vw;
	}
}
