@import 'src/theme';

footer {
	scroll-snap-align: start;
	scroll-padding-top: 75px;
	// padding: 30px 5% 0px 5%;
	background-color: $bg-primary;
	color: $secondary;
}
.footer-content {
	text-align: center;
	padding: 30px 5%;
}
// a > i {
// 	background: rgb(241, 205, 0);
// 	border-radius: 50%;
// }
.fa {
	background-color: transparent;
	color: white;
	transition: color 0.4s ease;
}
.fa.fa-instagram:hover {
	color: #e1306c;
}
.fa.fa-facebook:hover {
	color: #3b5998;
}
.fa.fa-youtube-play:hover {
	color: #ff0000;
}
.fa.fa-twitter:hover {
	color: #1da1f2;
}
