footer {
	scroll-snap-align: start;
	scroll-padding-top: 75px;
	// padding: 30px 5% 0px 5%;
	background-color: black;
}
.footer-content {
	text-align: center;
	padding: 30px 5%;
}
.fa {
	background-color: white;
	border-radius: 50%;
}
.fa.fa-instagram {
	color: #e1306c;
}
.fa.fa-facebook {
	color: #3b5998;
}
.fa.fa-youtube-play {
	color: #ff0000;
}
.fa.fa-twitter {
	color: #1da1f2;
}
