@import 'src/theme';

footer {
	scroll-snap-align: start;
	scroll-padding-top: 75px;
	// padding: 30px 5% 0px 5%;
	background-color: $bg-primary;
	color: $secondary;
}
.footer-content {
	text-align: center;
	padding: 30px 5%;
}
a > i {
	// background: whitesmoke;
	border-radius: 50%;
}
a {
	width: 50px;
	height: 50px;
	display: inline-block;
	margin-bottom: 10px;
}
.fa {
	background-color: transparent;
	color: white;
	transition: color 0.4s ease;
	transition: transform 0.2s linear;
}
a:hover .fa {
	transform: translateY(-10px);
}
a:hover .fa.fa-instagram {
	color: #e1306c;
}
a:hover .fa.fa-facebook {
	color: #3b5998;
}
a:hover .fa.fa-youtube-play {
	color: #ff0000;
}
a:hover .fa.fa-twitter {
	color: #1da1f2;
}
