<footer>
	<div class="footer-content">
		<div style="font-size: 18px;">Contact Us</div>
		<a href="https://www.facebook.com/meraz.iitbh"
			><i class="fa fa-2x fa-facebook"></i
		></a>
		<a href="https://www.instagram.com/meraziitbh"
			><i class="fa fa-2x fa-instagram"></i
		></a>
		<a href="https://www.youtube.com/channel/UCs_b3N6z8XZSCY4KUrcQnsQ"
			><i class="fa fa-2x fa-youtube-play"></i
		></a>
		<a href="https://twitter.com/IIT_Bhilai"
			><i class="fa fa-2x fa-twitter"></i
		></a>
		<!-- <div style='font-size: 18px;'>
			Web Developers
			<br>
			<a href="https://www.facebook.com/meraz.iitbh"
			>Ambar Mutha</a>
		<a href="https://www.instagram.com/meraziitbh"
			>Kumar Shivendu</a>
		</div> -->
	</div>
</footer>
