<div *ngIf="this.status== 'success'">
<h1>Registered Successfully</h1>
<h3>Cheers !! You will soon recieve an email from the Meraz team </h3>
</div>

<div *ngIf="this.status== 'failed'">
<h1>Registration Failed</h1>
<h3>Alas !! Try again later and contact meraz team if problem persists</h3>
</div>

<div *ngIf="this.status== 'emailerror'">
<h1>Email Sending Error</h1>
<h3>Your registration is successful. But, we couldn't send you the email. Contact Meraz Team for this problem</h3>
</div>

<div *ngIf="this.status== 'validationerror'">
<h1>Validation Error</h1>
<h3>Please check the details you have submitted for registration</h3>
</div>

<div *ngIf="this.status== 'docerr'">
<h1>Validation Error</h1>
<h3>We couldn't verify your identity in our database. </h3>
</div>

<div *ngIf="this.status== 'transcationIDerror'">
<h1>Transaction ID Error</h1>
<h3>We couldn't confirm your Transaction ID in our database</h3>
</div>

