.parent {
	scroll-snap-align: start;
	scroll-margin-top: 75px;
	margin-top: 75px;
	display: flex;

	object-fit: cover;
	// border: gold 3px ridge;
	border-radius: 12px;
	// cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
	border-width: 3px;
	border-style: solid;
	border-image: linear-gradient(135deg, #ff2600, yellow, yellow, #ff2600)
		//   to bottom,
		//   gold,
		//   #ff4000)
		1 round;
}
h2 {
	font-weight: normal;
	font-family: 'Metal Mania', cursive;
	color: gold;
	span {
		color: transparent;
		background: -webkit-linear-gradient(gold, gold, red);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
li {
	// color:gold;
	a {
		// color:#edca0e;
	}
}
.campusAddress {
	// color: #edca0e;
}

iframe {
	width: 100%;
	margin: 12px;
	height: 460px;

	// object-fit: cover;
	// border: gold 3px ridge;
	// border-radius: 12px;
	// cursor: pointer;
}
@media (min-width: 800px) {
	.parent {
		margin: 75px;
	}
}
@media (max-width: 800px) {
	.parent {
		flex-direction: column;
	}
	iframe {
		width: 90%;
		margin: 5%;
	}
}

.contact-info {
	padding: 15px;
	scroll-snap-align: start;
	scroll-margin-top: 75px;
}

ul {
	list-style: none;
	padding: 0;
}

mat-icon {
	position: relative;
	top: 4px;
	margin-right: 10px;
}
