.parent {
	scroll-snap-align: start;
	scroll-margin-top: 75px;
	margin-top: 75px;
	display: flex;
	
} 
iframe{
	width: 100%;
	margin : 12px;
	height: 460px;
}
@media(max-width:720px){
	.parent{
		display: block;
	}
	iframe{
		width: 95%;
	}

}

.contact-info {
	text-align: center;
}

ul {
	list-style: none;
	padding: 0;
}

mat-icon {
	position: relative;
	top: 4px;
	margin-right: 10px;
}
