<div class="parent" style="background:rgb(66, 66, 66,40%);	border-radius: 12px;">
	<iframe
		id="map-iframe"
		src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=IIT%20Bhilai+(Meraz)&amp;ie=UTF8&amp;t=&amp;z=12&amp;iwloc=B&amp;output=embed"
		frameborder="0"
		scrolling="no"
		marginheight="0"
		marginwidth="0"
	></iframe>
	<br />
	<div class="contact-info">
		<h2><mat-icon>phone</mat-icon>
			<span>Phone</span></h2>
		<ul>
			<li>Gourav Borkar ‐ <a href="tel:+918999739404">8999739404</a></li>
			<li>Kumar Shivam ‐ <a href="tel:+917903175276">7903175276</a></li>
			<li>Shreyam Chandra ‐ <a href="tel:+91747044887">747044887</a></li>
			<li>Preetam Kumar ‐ <a href="tel:+918079098860">8079098860</a></li>
		</ul>
		<br />

		<h2><mat-icon>mail</mat-icon>
		<span>E-mail</span>
		</h2>
		<ul>
				<li>
						<a href="mailto:meraz@iitbhilai.ac.in">meraz@iitbhilai.ac.in </a>
					</li>
			<li>
				<a href="mailto:eventshead_cosa@iitbhilai.ac.in">eventshead_cosa@iitbhilai.ac.in </a>
			</li>
			<li>
				<a href="mailto:management_cosa@iitbhilai.ac.in">
					management_cosa@iitbhilai.ac.in
				</a>
			</li>
		</ul>
		<br />


		<h2><mat-icon>map</mat-icon>
		<span>Address</span>
		</h2>
		<span class="campusAddress">
		Old Dhamtari Rd<br />
		Datrenga, Raipur<br />
		Chhattisgarh, 492015
	</span>
	</div>
</div>
