.hero {
	width: 100%;
	height: 100vh;
	position: relative;
	text-align: center;
	scroll-snap-align: start;
	
}

#rectGrow{
	animation: 3s linear infinite rectG;
	transform-origin: 50% 50%;
}
@keyframes rectG{
	0%{
		x: 5;
		// width : 5;
		transform: scaleX(1);
	}
	50%{
		x: 500;
		// width : 100;
		transform: scaleX(1.5);
	}
	100%{
		x: 5;
		// width : 5;
		transform: scaleX(1);

	}
}
#cir{
	// animation: 2s linear infinite circleGrow;
}
@keyframes circleGrow{
	0%{
		r : 130;
	}
	50%{
		r : 160;
	}
	100%{
		r : 130;
	}
}

// // SVG styles.
// svg {
// 	animation: 2s linear infinite svg-animation;
// 	max-width: 100px;
// 	overflow: visible;
//   }
  
//   // SVG animation.
//   @keyframes svg-animation {
// 	0% {
// 	  transform: rotateZ(0deg);
// 	}
// 	100% {
// 	  transform: rotateZ(360deg)
// 	}
//   }
  
//   // Circle styles.
//   circle {
// 	animation: 1.4s ease-in-out infinite both circle-animation;
// 	display: block;
// 	fill: transparent;
// 	stroke: #2f3d4c;
// 	stroke-linecap: round;
// 	stroke-dasharray: 283;
// 	stroke-dashoffset: 280;
// 	stroke-width: 10px;
// 	transform-origin: 50% 50%;
//   }
  
//   // Circle animation.
//   @keyframes circle-animation {
// 	0%,
// 	25% {
// 	  stroke-dashoffset: 280;
// 	  transform: rotate(0);
// 	}
	
// 	50%,
// 	75% {
// 	  stroke-dashoffset: 75;
// 	  transform: rotate(45deg);
// 	}
	
// 	100% {
// 	  stroke-dashoffset: 280;
// 	  transform: rotate(360deg);
// 	}
//   }

@function get-dash-value($radius, $percentage) {
	// Using $radius, calculate circumference.
	$circumference: 2 * 3.1415927 * $radius;
	
	// Convert percentage to decimal.
	// i.e. 50% = 0.5.
	$percentage-as-decimal: $percentage / 100%;
	
	// Return unit value.
	@return $circumference * $percentage-as-decimal;
  }

  $circle-radius : 150px;
#preload{
// fill: transparent;
  stroke: #2f3d4c;
  stroke-linecap: round;
//   stroke-dasharray: get-dash-value(150px,10);
  stroke-dasharray: get-dash-value($circle-radius, 80%);
  stroke-dashoffset: get-dash-value($circle-radius, 75%);
  stroke-width: 10px;
  transform-origin: 50% 50%;
  animation: 1.4s ease-in-out infinite both preload-circ;
}
@keyframes preload-circ{
	0%{
		stroke-dashoffset: get-dash-value($circle-radius, 0%);
	}
	50%{
		stroke-dashoffset: get-dash-value($circle-radius, 100%);

	}
	100%{
		stroke-dashoffset: get-dash-value($circle-radius, 0%);
	}
}
@keyframes circle-animation {
	0%,
	25% {
	  stroke-dashoffset: 280;
	  transform: rotate(0);
	}
	
	50%,
	75% {
	  stroke-dashoffset: 75;
	  transform: rotate(45deg);
	}
	
	100% {
	  stroke-dashoffset: 280;
	  transform: rotate(360deg);
	}
  }
  


#meraz_m{
	background: url('../../assets/logo-otherthanM.png');
	// -webkit-clip-path: polygon(38px 297px,468px 296px,347px 3px,256px 149px,161px 11px);
	clip-path: url("#clipPolygon");
}

@keyframes movePoly {
	0% {transform : translateY(250px);} 
	100%  {transform : translateY(0px);}
	// 100%  {transform : translateY(250px);}
}

#myPoly{
	animation: movePoly 10s infinite;
}
#myCircle{
	animation: movePoly 10s infinite;
}



.hero-img {
	width: auto;
	max-width: 100%;
	max-height: 80vh;
	position: absolute;
	top: 50px;
	left: 50vw;
	transform: translate(-50%, 0px);
}
app-timer {
	position: absolute;
	width: fit-content;
	margin: 0px;
	bottom: 20px;
	left: 50%;
	min-width: 50%;
	transform: translate(-50%, 0px);
}
@media (max-width: 720px) {
	app-timer {
		bottom: 15%;
	}
}

/* ---- reset ---- */
// body {
// 	margin: 0;
// 	font: normal 75% Arial, Helvetica, sans-serif;
// }
// canvas {
// 	display: block;
// 	vertical-align: bottom;
// }
/* ---- particles.js container ---- */
// #particles-js {
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	background-color: #232741;
// 	background-repeat: no-repeat;
// 	background-size: 20%;
// 	background-position: 50% 50%;
// } /* ---- stats.js ---- */
// .count-particles {
// 	background: #000022;
// 	position: absolute;
// 	top: 48px;
// 	left: 0;
// 	width: 80px;
// 	color: #13e8e9;
// 	font-size: 0.8em;
// 	text-align: left;
// 	text-indent: 4px;
// 	line-height: 14px;
// 	padding-bottom: 2px;
// 	font-family: Helvetica, Arial, sans-serif;
// 	font-weight: bold;
// }
// .js-count-particles {
// 	font-size: 1.1em;
// }
// #stats,
// .count-particles {
// 	-webkit-user-select: none;
// 	margin-top: 5px;
// 	margin-left: 5px;
// }
// #stats {
// 	border-radius: 3px 3px 0 0;
// 	overflow: hidden;
// }
// .count-particles {
// 	border-radius: 0 0 3px 3px;
// }

// Code for foggy background
// * {
// 	padding: 0;
// 	margin: 0;
// 	box-sizing: border-box;
// }
// body {
// 	background-color: black;
// }

// #fog {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100vw;
// 	height: 100vh;
// 	overflow: hidden;
// 	pointer-events: none;
// 	&:before,
// 	&:after {
// 		content: "";
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		height: 100%;
// 		width: 300%;
// 		background-size: contain;
// 		background-position: center;
// 		background-repeat: repeat-x;
// 	}
// 	&:before {
// 		background-image: url("https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-3.png");
// 		animation: drift 60s linear 0s infinite;
// 	}
// 	&:after {
// 		background-image: url("./fog-1.png");
// 		animation: drift 25s linear 0s infinite;
// 	}
// 	@keyframes drift {
// 		from {
// 			transform: translate3d(0, 0, 0);
// 		}
// 		to {
// 			transform: translate3d(-200vw, 0, 0);
// 		}
// 	}
// }
