<div class="hero" style="font-size: 2rem;">
	<div class="hide-mobile">
			<!-- <svg>
					<image width="450" height="450" xlink:href="assets/logoCirlceNew.png"  />
							<image width="450" height="450" xlink:href="assets/merazMnew.png" clip-path='url(#clipPolygon)' />
			</svg> -->
			<img class='merazO' src="../../assets/logoCirlceNew.png" alt="">
			<!-- style="clip-path: url(#newArc);"  -->
			<img class='merazM'  src="../../assets/merazMnew.png" alt="">
	</div>
	<div class="show-mobile">
		<!-- <svg>
				<image width="450" height="450" xlink:href="assets/logoCirlceNew.png"  />
						<image width="450" height="450" xlink:href="assets/merazMnew.png" clip-path='url(#clipPolygon)' />
		</svg> -->
		<div class="mob-size">
			<img class='merazO' src="../../assets/logoCirlceNew.png" alt="" width="420">
			<!-- style="clip-path: url(#newArc);"  -->
			<img class='merazM'  src="../../assets/merazMnew.png" alt=""  width="420">
			<p></p>
		</div>
</div>
	<svg>
		<defs>
			<mask id='maskNew'>
					<circle  id='preload' cx="250" cy="200" r="150"/>
			</mask>
		</defs>
		<!-- <circle  id='preload' cx="250" cy="200" r="150"/> -->

	</svg>

	
	<!-- particles.js container -->
	
	<!-- <object data="assets/logo.svg" type="image/svg+xml"></object> -->
	
	<!-- <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
		<clipPath id='circleAnim'>
				<circle cx="50" cy="50" r="45"/>
		</clipPath>
		<circle cx="50" cy="50" r="45"/>
		<image width="500" height="500" xlink:href="assets/logo-circle.png" clip-path='url(#circleAnim)' />

	  </svg> -->
	  

	  <!-- <svg viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
		
		 <clipPath id='newCirclePath'>
				<circle  id='newCircle' cx="50" cy="50" r="45"/>
		</clipPath> 
		<circle  id='newCircle' cx="50" cy="50" r="45"/>

	</svg> -->
	  

  <svg xmlns="http://www.w3.org/2000/svg">
		<!-- <circle  id='preload' cx="250" cy="200" r="150"/>
		<circle  id='preload' cx="250" cy="200" r="5"/> -->
		<!-- <rect id='rectGrow' x="240" y="50" width="1" height="350" fill='black' > -->
				<!-- <rect id='rectGrow' x="240" y="50" width="5" height="350" fill='black' /> -->
				<!-- <circle  id='preload' fill='black' cx="250" cy="200" r="150"/>
				<circle  id='preload' fill='white' cx="245" cy="205" r="160"/> -->
				<!-- <path id='pathArc'fill="black" stroke="white" stroke-width="20" /> -->

	<defs>	
		<clipPath id='newArc'>
				<path id='pathArc'/>
				<path d="M10,10 q60,60 100,0 q50,50 50,50 l40,0 l-40,40 l-100,-20"/>

		</clipPath>
		<mask id='mask2'>
				<rect id='rectGrow' x="240" y="50" width="50" height="350" fill='white' >

						<!-- <animate attributeName="width" from="0" to="100" begin= "0s" dur="5s"/>
						<animateTransform attributeName="transform" type="scale" from="0" to="1" dur="3s"/> -->
				</rect>

				<!-- <circle id='cir' fill='white' cx="245" cy="204" r="160"/> -->
				<!-- <circle id='head' fill='white' cx='245' cy='350' r='10'></circle> -->
			</mask>
			
		    <mask id="masking" maskUnits="objectBoundingBox" maskContentUnits="objectBoundingBox">
					<circle  id='preload' fill='black' cx="250" cy="200" r="150"/>
					<circle  id='preload' fill='white' cx="250" cy="200" r="200"/>
					<!-- <rect y="0.3" width="1" height=".7" fill="url(#gradient)" />
					<circle cx=".5" cy=".5" r=".35" fill="white" /> -->
				  </mask>
			<clipPath id="circClip" >
					<circle  id='preload' cx="250" cy="200" r="150"/>
				</clipPath>	
	<clipPath id="clipPolygon" >

			<polygon id='myPoly' points="4 339,517 337,327 3,250 135,179 2">
				</polygon>
			<!-- <circle id='myCircle' cx="250" cy="85" r="50" fill="#FFFFFF" /> -->
		    <!-- <g
     id="g208"
     transform="matrix(2.5312448,0,0,0.99832061,-613.7855,-129.27254)">
    <path
       
       d="M 773.79883 0.26953125 C 773.79883 0.26953125 847.56462 146.23791 656.16211 233.43164 C 465.56472 146.2044 539.16992 0.55859375 539.16992 0.55859375 L 3.7089844 442.29102 L 657.08984 286.16016 L 1309.2598 442 L 773.79883 0.26953125 z "
       transform="matrix(0.39506254,0,0,1.0016822,242.48366,129.49)"
       id="path138-3-6-5" />
  </g> -->
		</clipPath>
		
	</defs>
	
	<!-- <g
	id="g208"
	transform="matrix(2.5312448,0,0,0.99832061,-613.7855,-129.27254)">
   <path
	  style="fill:red;stroke:#000000;stroke-width:1.98417425px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
	  d="M 773.79883 0.26953125 C 773.79883 0.26953125 847.56462 146.23791 656.16211 233.43164 C 465.56472 146.2044 539.16992 0.55859375 539.16992 0.55859375 L 3.7089844 442.29102 L 657.08984 286.16016 L 1309.2598 442 L 773.79883 0.26953125 z "
	  transform="matrix(0.39506254,0,0,1.0016822,242.48366,129.49)"
	  id="path138-3-6-5" />
 </g> -->
	<!-- <polygon id='myPoly' points="4 339,517 337,327 3,250 135,179 2">
		</polygon> -->

		<!-- <circle id='myCircle' cx="250" cy="85" r="50" fill="#FFFFFF" /> -->
		<!-- <circle id='cir' fill='black' cx="245" cy="204" r="135"/> -->
		<!-- 160 -->
		<!-- 135 to  -->

		<!-- <image width="350" height="350" xlink:href="assets/logoCirlceNew.png"  /> -->
		<!-- <image width="500" height="500" xlink:href="assets/logo-circle.png" clip-path='url(#newArc)' /> -->
				<!-- <image width="350" height="350" xlink:href="assets/merazMnew.png" clip-path='url(#clipPolygon)' /> -->
	  </svg>

	  <!-- <svg>

			<defs>
					<clipPath id="clipPath3">
						<path d="M10,10 q60,60 100,0 q50,50 50,50 l40,0 l-40,40 l-100,-20"/>
					</clipPath>
				</defs>
				<path style="fill:red;stroke:#000000;stroke-width:1.98417425px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"  d="M 773.79883 0.26953125 C 773.79883 0.26953125 847.56462 146.23791 656.16211 233.43164 C 465.56472 146.2044 539.16992 0.55859375 539.16992 0.55859375 L 3.7089844 442.29102 L 657.08984 286.16016 L 1309.2598 442 L 773.79883 0.26953125 z "/>

				<rect x="5" y="5" width="190" height="90"
				
					  style="stroke: none; fill:#00ff00; clip-path: url(#clipPath3);"/>
					
				
	  </svg> -->
	  
	  <!-- <img width="500px"  height="500px" src="assets/logo-otherthanM.png" clip-path="url(#clipPolygon)" /> -->

	  <!-- <img width="500px"  height="500px" id="meraz_m"  src="assets/logo-otherthanM.png"  />  -->
	
	 <!-- <img src="assets/logo.png" alt="" width="100%"> -->
	<!-- </div> -->
	
	<app-timer></app-timer>
	  
</div>
