<div
	class="wrapper"
	id="barwrapper"
	onclick='document.getElementById("sidebar").classList.toggle("open");
document.getElementById("barwrapper").classList.toggle("open");
document.getElementsByClassName("app-bar")[0].style.display = "flex";'
>
	<nav class="app-bar" id="sidebar" class="sidebar">
		<ul class="links">
			<li>
				<a routerLink="">Home</a>
			</li>
			<li>
				<a routerLink="events">Events</a>
			</li>
			<li>
				<a routerLink="contact">Contact</a>
			</li>
			<!-- <li>
				<a routerLink="register">Register</a>
			</li> -->
			<li>
				<a
					href="https://docs.google.com/forms/d/e/1FAIpQLSdg9xGIixPQPlzdodIx6V5GDZwl8V2GVE6ADO4uzm83iK3KJg/viewform?usp=sf_link"
					>Accommodation</a
				>
			</li>
			<li>
				<a
					href="https://docs.google.com/spreadsheets/d/16-b__c8o-1XvDP3F7ItEd5myHqzhN8rseNp1oi3UsT8/edit?usp=sharing"
					>Schedule</a
				>
			</li>
		</ul>
	</nav>
</div>
