<div
	class="wrapper"
	id="barwrapper"
	onclick='document.getElementById("sidebar").classList.toggle("open");
document.getElementById("barwrapper").classList.toggle("open");
document.getElementsByClassName("app-bar")[0].style.display = "flex";'
>
	<nav
		class="app-bar"
		id="sidebar"
		class="sidebar"
		(click)="toggleSidebar()"
	>
		<ul class="links">
			<li>
				<a
					routerLink=""
					routerLinkActive="active"
					[routerLinkActiveOptions]="{ exact: true }"
					(click)="toggleSidebar()"
				>
					Home
				</a>
			</li>
			<li>
				<a routerLink="events" routerLinkActive="active" (click)="toggleSidebar()">Events</a>
			</li>
			<li>
				<a routerLink="contact" routerLinkActive="active" (click)="toggleSidebar()">Contact</a>
			</li>
			<li>
				<a routerLink="register" routerLinkActive="active" (click)="toggleSidebar()">Register</a>
			</li>
		</ul>
	</nav>
</div>
