<div
	class="register-form"
	style="scroll-snap-align: start;
scroll-padding-top: 75px;height: 100%;"
>
	<div class="reg-form" style="background:#313131">
		<h1 style="color:#b38719">Register Here</h1>
		<form class="example-form">
			<mat-form-field class="example-form">
				<input matInput placeholder="Name" />
			</mat-form-field>
			<br />
			<mat-form-field class="example-full-width">
				<input matInput placeholder="Email" />
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<input matInput placeholder="Phone" />
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<input matInput placeholder="College" />
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<textarea matInput placeholder="Leave a comment"></textarea>
			</mat-form-field>
		</form>

		<button mat-raised-button color="primary">I am in !</button>
	</div>
</div>
