.reg-form {
	padding: 30px 5%;
	background: rgb(66, 66, 66, 40%);
	-webkit-backdrop-filter: blur(
		5px
	); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
	backdrop-filter: blur(5px); /* Supported in Chrome 76 */
	border-radius: 12px;
	width: fit-content;
	margin: 75px auto;
	max-width: 90%;

	// background-image: linear-gradient(
	// 		90deg,
	// 		transparent 79px,
	// 		#abced4 79px,
	// 		#abced4 81px,
	// 		transparent 81px
	// 	),
	// 	linear-gradient(#eee 0.1em, transparent 0.1em);
	// background-size: 100% 1.2em;

	// border: 2px solid white;
	// background: whitesmoke;
	// background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+');
}
.example-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
}

.example-full-width {
	width: 100%;
}
.reg-form,
mat-form-field,
h1 {
	scroll-snap-align: start;
	scroll-margin-top: 75px;
}

h1 {
	font-family: 'Metal Mania', cursive;
	letter-spacing: 2px;
	font-weight: normal;
	font-size: 2em;
	text-align: center;

	color: transparent;
	-webkit-font-smoothing: antialiased;

	// background-image: url('../../../assets/gold-texture.jpg');
	// background-clip: text;
	// -webkit-background-clip: text;
	// -moz-background-clip: text;
	// -webkit-text-fill-color: transparent;

	background: -webkit-linear-gradient(gold, gold, red);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
