<app-hero></app-hero>

<section>
	<div class="title">
		<h1>Pronites</h1>
		<div>
			<a class="more-link" routerLink="events">More Events</a>
		</div>
	</div>

	<div class="images">
		<div class="pronite-image">
			<span>DJ Night</span>
		</div>
		<div class="pronite-image">
			<span>Aakash Gupta</span>
		</div>
		<div class="pronite-image">
			<span>Band Performance</span>
		</div>
	</div>
</section>
<section class='glimpses'>
	<div class="title">
	<h1 style='font-weight: normal'>Meraz'19 Trailer</h1>
	</div>
	<iframe src="https://www.youtube.com/embed/vrHzl-E-Pvs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>

<section class='glimpses'>
	<div class="title">
	<h1 style='font-weight: normal'>Meraz'18 Glimpses</h1>
	</div>
	<iframe  src="https://www.youtube.com/embed/uOQbTb4-ejs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
<!-- <section>
	<app-sponsors></app-sponsors>
</section> -->
