.container {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
	margin-top: 75px;

	div {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2em;
		color: #ffeead;
		scroll-snap-align: start;
		scroll-margin-top: 75px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.horizontal {
	grid-column: span 2;
}

.vertical {
	grid-row: span 2;
}

.big {
	grid-column: span 2;
	grid-row: span 2;
}
