<div class="parent">
	<ng-container *ngFor="let category of categories$ | async">
		<h1><a name='{{ category.name }}'>{{ category.name }}</a></h1>
		<div class="container" id='{{ category.name }}'>
			<div
				class="{{ event.imageSize }} event-item"
				[routerLink]="['/events', event.name]"
				*ngFor="let event of category.events"
				style="cursor: pointer;"
			>
				<img
					class="event-img"
					src="assets/event-images/{{ event.image }}"
				/>
				<span class="event-title">{{ event.name }}</span>
			</div>
		</div>
	</ng-container>
</div>
