<!-- <div *ngFor="let category of categories" class="event">
		<h2 class="event-heading">{{ category.name }}</h2>
		<div class="event" *ngFor="let event of category.events">
			<img
				[src]="'assets/event-images/' + event.image"
				style="width: 400px"
			/>
			<br />
			{{ event.name }}
		</div>
	</div> -->

<div class="demo-2 loading">
	<div class="morph-wrap">
		<svg class="morph" width="1400" height="770" viewBox="0 0 1400 770">
			<path
				d="M 262.9,252.2 C 210.1,338.2 212.6,487.6 288.8,553.9 372.2,626.5 511.2,517.8 620.3,536.3 750.6,558.4 860.3,723 987.3,686.5 1089,657.3 1168,534.7 1173,429.2 1178,313.7 1096,189.1 995.1,130.7 852.1,47.07 658.8,78.95 498.1,119.2 410.7,141.1 322.6,154.8 262.9,252.2 Z"
			/>
		</svg>
	</div>
	<div *ngFor="let category of categories">
		<h2
			class="event-heading"
			style="scroll-snap-align: start;scroll-padding-top: 75px;"
		>
			{{ category.name }}
		</h2>
		<div *ngFor="let event of category.events" class="event content-wrap">
			<div class="content content--layout content--layout-1">
				<img
					class="content__img"
					[src]="'assets/event-images/' + event.image"
					alt="event.image"
				/>
				<h3 class="content__title">{{ event.name }}</h3>
				<p class="content__author">Jane Westhall</p>
				<p class="content__desc">
					{{ event.desc }}
				</p>
				<a href="#" class="content__link">Discover</a>
			</div>
		</div>
	</div>

	<div class="content-wrap">
		<div class="content content--layout content--layout-2">
			<img class="content__img" src="img/4.jpg" alt="Some image" />
			<h3 class="content__title">bunch</h3>
			<p class="content__author">Nikimo Westlane</p>
			<p class="content__desc">
				The neverending quest, once and forever.
			</p>
			<a href="#" class="content__link">Discover</a>
		</div>
	</div>

	<!-- Related demos -->
	<!-- <section class="content content--related">
		<p class="content__info">
			If you enjoyed this demo you might also like:
		</p>
	</section> -->
</div>
