<div class="parent" *ngIf="!complete; else completionMessage">
	<div class="box">
		{{ (remainingTimeSubject | async).days }}
		<span>Days</span>
	</div>
	<div class="box">
		{{ (remainingTimeSubject | async).hours }}
		<span>Hours</span>
	</div>
	<div class="box">
		{{ (remainingTimeSubject | async).minutes }}
		<span>Minutes</span>
	</div>
	<div class="box">
		{{ (remainingTimeSubject | async).seconds }}
		<span>Seconds</span>
	</div>
</div>

<ng-template #completionMessage>
	<!-- TODO: Change completion message -->
	<div class="complete-message">Nov 8-10, 2019</div>
</ng-template>
