@import 'src/theme';
@font-face {
	font-family: nouty;
	src: url('../../assets/nouty\ stamp.otf');
}
@media (max-width: 720px) {
	h1 {
		position: relative;
		left: -10px;
	}
}

h1 {
	font-weight: normal;
	font-size: 2em;
	font-family: nouty;
	letter-spacing: 5px;

	background: url('../../assets/gold-texture.jpg');
	text-transform: uppercase;
	text-align: center;
	color: transparent;
	-webkit-font-smoothing: antialiased;

	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@keyframes BackgroundAnimated {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 0 100%;
	}
}
@-webkit-keyframes BackgroundAnimated {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 0 100%;
	}
}
@-ms-keyframes BackgroundAnimated {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 0 100%;
	}
}
@-moz-keyframes BackgroundAnimated {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 0 100%;
	}
}
.app-bar {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	padding: 0px 40px 0px 15px;
	background-color: rgba(0, 0, 0, 0);
	display: flex;
	align-items: center;
	overflow-x: hidden;
	color: $primary;
	-webkit-transition: display 4s ease-in-out;
	-moz-transition: display 4s ease-in-out;
	-ms-transition: display 4s ease-in-out;
	-o-transition: display 4s ease-in-out;
	transition: display 4s ease-in-out;

	transition: background-color 0.8s ease;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.links {
	// font-family: nouty;
	// letter-spacing: 2px;
	display: none;
	align-items: center;
	li {
		display: inline-block;
		margin-left: 2em;

		a {
			color: inherit;
			font-size: 1.125em;
		}
	}
}
.active {
	font-weight: bold;
}
nav > h1 {
	flex-grow: 1;
	text-align: center;
}
@media screen and (min-width: 700px) {
	.links {
		display: flex;
	}
	.fa.fa-bars {
		display: none;
	}
	nav > h1 {
		text-align: left;
	}
}
