@import 'src/theme';

li {
	background-image: url('../../assets/gold-texture.jpg');
	font-family: 'Metal Mania', cursive;
	font-size: 1.1em;
	letter-spacing: 2px;
	font-weight: bold;

	text-transform: uppercase;
	text-align: center;
	color: transparent;
	-webkit-font-smoothing: antialiased;

	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
}

// @font-face {
// 	font-family: nouty;
// 	src: url('../../assets/nouty\ stamp.otf');
// }
@media (max-width: 900px) {
	h1 {
		position: relative;
		left: -10px;
	}
}

h1 {
	// font-weight: bold;
	font-size: 2em;
	margin: 10px;
	font-family: 'Metal Mania', cursive;
	font-weight: normal;
	letter-spacing: 5px;
	background: -webkit-linear-gradient(gold, gold, red);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	// background-image: url('../../assets/gold-texture.jpg');
	// text-transform: uppercase;
	// text-align: center;
	// color: transparent;
	// -webkit-font-smoothing: antialiased;

	// background-clip: text;
	// -webkit-background-clip: text;
	// -moz-background-clip: text;
	// -webkit-text-fill-color: transparent;
}

.app-bar {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	padding: 0px 40px 0px 15px;
	background-color: transparent;

	display: flex;
	align-items: center;
	overflow-x: hidden;
	color: $primary;
	-webkit-transition: display 4s ease-in-out;
	-moz-transition: display 4s ease-in-out;
	-ms-transition: display 4s ease-in-out;
	-o-transition: display 4s ease-in-out;
	transition: display 4s ease-in-out;

	transition: background-color 0.8s ease;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.links {
	// font-family: nouty;
	// letter-spacing: 2px;
	display: none;
	align-items: center;
	padding-inline-start: 3px;
	li {
		display: inline-block;
		margin-left: 1.7em;
		position: relative;

		a {
			color: inherit;
			font-size: 1.125em;
		}
		a:after {
			background: none repeat scroll 0 0 transparent;
			bottom: 0;
			content: '';
			display: block;
			height: 2px;
			left: 50%;
			bottom: -10px;
			position: absolute;
			background: $primary;
			transition: width 0.3s ease 0s, left 0.3s ease 0s;
			width: 0;
		}
		a:hover:after,
		a.active:after {
			width: 100%;
			left: 0;
		}
	}
}
.active {
	color: goldenrod;
}
nav > h1 {
	flex-grow: 1;
	text-align: center;
}
@media screen and (min-width: 900px) {
	.links {
		display: flex;
	}
	.fa.fa-bars {
		display: none;
	}
	nav > h1 {
		text-align: left;
	}
}
